/* minimal CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF9EA2;
    color:#d5d5d7;
    font-family: 'Noto Sans', serif;
}

h1 {
    margin-bottom: .6rem;
    font-size: xx-large;
    color: #d0604c;
}

h2 {
    margin-bottom: .4rem;
    font-size: x-large;
    color: #d0604c;
}

a {
    color: #d0604c;
    text-decoration: none;
}

/* link hover */
a:hover {    
    color: #d5d5d7;
}

header, nav, main, footer {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px 5px 0px 0px;
    background-color: #475251;
}

header > img { 
    max-width: 48%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #475251;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-columns: max-content;
    column-gap: 2rem;
    justify-content: center;
    background-color: #475251;
    border-radius: 0px 0px 5px 5px;
    padding: .6rem 0;
}

nav li {
    display: inline-block;
}

nav li a {
    font-size: 1.2rem;
    color: #f4e7b2;
    text-decoration: none;
}

/* active menu item -- not handled by JS yet */
nav li a.active{
    color:#d0604c
}


/* menu needs different hover effect */
nav li a:hover {
    background-color: #d0604c;
    color: #f2e0d2;
    padding: 8% 12%;
    border-radius: 10%;
}

article {
    border-radius: .3rem;
    background-color: #524947;
}

article a {
    display: block;
    margin-top: 0.6rem;
}

main + section {
    border-radius: 5px;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}

/* effect articles to emphasize content*/
article:hover {
    translate: 0px 0px 50px;
    scale: 1.01;
    webkit-box-shadow: 2px 16px 38px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 16px 38px -7px rgba(0,0,0,0.75);
    box-shadow: 2px 16px 38px -7px rgba(0,0,0,0.75);
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

#banner article {
    flex: 1;
    background-image: url('/pics/studio_hero.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover;   */
}

#banner article div {
    padding: .6rem .8rem;
    border-radius: .3rem;
    background-color: rgba(0, 0, 0, .5);
}

#banner h1, #banner p {
    text-shadow: 2px 2px 4px #000;
}

#banner p {
    font-size:larger;
}

#articles {
    max-width: 80vW;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    justify-content: center;
    font-size: medium;
}

#articles article {
    padding: 1rem;
}

.image-container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-container img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    background-color: #475251;
}

footer div {
    margin: 0.4rem;
}

footer img {
    display: flex;
    max-height: 2rem;
}

/* mobile changes */
@media only screen and (max-width: 768px) {
    #articles {
        grid-template-columns: auto;
        max-width: 100vw;
        border-radius: 0;
    }
    #banner article div, header, nav, nav ul, main, article, footer {
        max-width: 100vw;
        border-radius: 0;
    }

    section, #banner, #articles, footer {
        margin-top: 0;
    }
}